{% extends 'root/base.html' %}

{% load static %}
{% block content %}
    <div class="container">
        <h1 style="color: black;">FORM PEMBUATAN RESERVASI RUMAH SAKIT</h1>
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {% for field in create_form_reservasirumahsakit.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="">
                <input type="submit" class="btn btn-primary" value="Buat Reservasi Rumah Sakit">
            </div>
        </form>
    </div>
{% endblock %}