{% extends 'root/base.html' %}

{% load static %}
{% block content %}
<div class="bg-primary py-4">
    <div class="container">
        {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert {{ message.tags }} alert-dismissible" style="color: black; border-color:black; background-color:#cde9ff;" >
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <h1 style="color: black;">FORM PEMBUATAN FASKES</h1>
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_id">Kode Faskes</label>
                <input type="text" class="form-control" id="input_id" name="kode" value="{{ data_faskes.newKode }}"  readonly>
            </div>
            <div class="form-group">
                <label for="tipe">Tipe</label>
                <div>
                    <select name="tipe" id="tipe">
                    <option value="rumah sakit">Rumah Sakit</option>
                    <option value="klinik">Klinik</option>
                    <option value="puskesmas">Puskesmas</option>
                </div>
                </select>
            </div>
            <div class="form-group">
                <label for="status">Status Kepemilikan</label>
                <div>
                    <select name="status" id="status">
                    <option value="pemerintah">Pemerintah</option>
                    <option value="swasta">Swasta</option>
                </div>
                </select>
            </div>
            {% for field in create_form_faskes.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div>
                <br>
                <input type="submit" class="btn btn-primary" value="Buat Faskes">
            </div>
        </form>
    </div>
{% endblock %}
