{% extends 'root/base.html' %}

{% load static %}
{% block content %}
<div class="bg-primary py-4">
    <div class="container">
        {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert {{ message.tags }} alert-dismissible" style="color: black; border-color:black; background-color:#cde9ff;" >
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <h1 style="color: black;">FORM PEMBUATAN RUMAH SAKIT</h1>
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {% for field in create_rumahsakit.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="">
                <input type="submit" class="btn btn-primary" value="Buat Rumah Sakit">
            </div>
        </form>
    </div>
{% endblock %}