{% extends 'root/base.html' %}

{% load static %}
{% block content %}
<div class="bg-primary py-4">
    <div class="container">
        {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert {{ message.tags }} alert-dismissible" style="color: black; border-color:black; background-color:#cde9ff;" >
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <div class="page-header">
            <h1 style="color: black;">DAFTAR RUMAH SAKIT</h1>
        </div>
        <div>
            <table class='table table-condensed '>
                <thead>
                    <tr>
                        <th>Kode Faskes</th>
                        <th>Rujukan?</th>
                        <th>Action</th>
                        <!-- <th>Tanggal</th> -->
                        <!-- {% if request.session.user == "administrator" %} -->
                        
                        <!-- {% endif %} -->
                    </tr>
                </thead>
                <tbody>
                    {% for data in daftar_rumahsakit %}
                    <tr>
                            <td>{{data.kode_faskes}}</td>
                            <td>
                                {% if data.rujukan == "0" %}
                                    Bukan Rujukan
                                {% elif data.rujukan == "1" %}
                                    Ya Rujukan
                                {% endif %}
                            </td>
                            <td>
                                <div class="pi-draggable btn-group" draggable="true">
                                    <form action="update_rumahsakit" method="GET" class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Update">
                                        <input type="hidden" name="kode_faskes" value="{{data.kode_faskes}}">
                                    </form>
                                    <!-- <form action="delete_sesi_konsultasi" method="GET" class="form-group">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                        <input type="hidden" name="id_konsultasi" value="{{data.id_konsultasi}}">
                                    </form> -->
                                </div>
                            </td>
                            <!-- <td>{{data.tanggal}}</td> -->
                            <!-- {%if request.session.user == "administrator" %} -->
                            <!-- {% endif %}                             -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- {% if request.session.user == "administrator" %}
                <a href="{% url 'app1:create_sesikonsultasi' %}" class="btn btn-primary">
                    Create Sesi Konsultasi
                </a>
            {% endif %} -->
        </div>
    </div>

{% endblock %}