{% extends "root/base.html" %}
{% block title %}
DETAIL FASKES
{% endblock %}
{% block content %}
  
<div class="card">
        <div class="page-header">
            <h1 style="color: black;">DAFTAR FASKES</h1>
        </div>
    <div class="card-body">
      <p class="card-text">
          Kode Faskes: {{data_faskes.kode}} 
          <br>
          Tipe: {{data_faskes.tipe}} 
          <br>
          Nama Faskes: {{data_faskes.nama}} 
          <br>
          Status Kepemilikan: {{data_faskes.status}} 
          <br>
          Alamat
          <br>
          Jalan: {{data_faskes.jalan}} 
          <br>
          Kelurahan: {{data_faskes.kelurahan}} 
          <br>
          Kecamatan: {{data_faskes.kecamatan}} 
          <br>
          Kabupaten/Kota: {{data_faskes.kabupaten}} 
          <br>
          Provinsi: {{data_faskes.provinsi}} 
          <br>

        </p>
      <a href="{% url 'trigger3:daftar_faskes' %}" class="btn btn-primary">KEMBALI</a>
    </div>
  </div>

  {% endblock %}
