{% extends 'root/base.html' %}

{% load static %}
{% block content %}
<div class="bg-primary py-4">
    <div class="container">
        {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert {{ message.tags }} alert-dismissible" style="color: black; border-color:black; background-color:#cde9ff;" >
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <h1 style="color: black;">FORM UPDATE RUMAH SAKIT</h1>
        <form action="/trigger3/update_rumahsakit" method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_id">Kode Faskes</label>
                <input type="text" class="form-control" id="input_id" name="kode_faskes" value="{{ data_update.kode_faskes }}"  readonly>
            </div>
                {% for field in update_form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
            <input type="submit" class="btn btn-primary" value="Update Rumah Sakit">
        </form>     
    </div>

{% endblock %}