{% extends 'root/base.html' %}

{% load static %}
{% block content %}
<div class="bg-primary py-4">
    <div class="container">
        {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert {{ message.tags }} alert-dismissible" style="color: black; border-color:black; background-color:#cde9ff;" >
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <h1 style="color: black;">FORM UPDATE FASKES</h1>
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Kode Faskes</label>
                    <input value="{{data.kode}}" type="text" disabled name="kode" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="tipe">Tipe</label>
                    <div>
                        <select name="tipe" id="tipe">
                            {% if data.tipe == "rumah sakit" %}
                            <option value="rumah sakit" selected>Rumah Sakit</option>
                            <option value="klinik" >Klinik</option>
                            <option value="puskesmas" >Puskesmas</option>
                            {% elif data.tipe == "klinik" %}
                            <option value="rumah sakit" >Rumah Sakit</option>
                            <option value="klinik" selected >Klinik</option>
                            <option value="puskesmas" >Puskesmas</option>
                            {% elif data.tipe == "puskesmas" %}
                            <option value="rumah sakit" >Rumah Sakit</option>
                            <option value="klinik"  >Klinik</option>
                            <option value="puskesmas" selected>Puskesmas</option>
                            {% endif %}
                        </div>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nama Faskes</label>
                    <input value="{{data.nama}}" type="text" name="nama" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="status">Status Kepemilikan</label>
                    <div>
                        <select name="status" id="status">
                            {% if data.status == "swasta" %}
                            <option value="swasta" selected>Swasta</option>
                            <option value="pemerintah" >Pemerintah</option>
                            {% elif data.status == "pemerintah" %}
                            <option value="swasta" >Swasta</option>
                            <option value="pemerintah" selected >Pemerintah</option>
                            {% endif %}
                        </div>
                    </select>
                </div>
                <h5 class="text-start text-primary">Alamat:</h5>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Jalan</label>
                    <input value="{{data.jalan}}" type="text" name="jalan" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Kelurahan</label>
                    <input value="{{data.kelurahan}}" type="text" name="kelurahan" class="form-control"
                        id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Kecamatan</label>
                    <input value="{{data.kecamatan}}" type="text" name="kecamatan" class="form-control"
                        id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Kabupaten/Kota</label>
                    <input value="{{data.kabupaten}}" type="text" name="kabkot" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Provinsi</label>
                    <input value="{{data.provinsi}}" type="text" name="provinsi" class="form-control"
                        id="exampleFormControlInput1">
                </div>
  
                <input type="submit" class="btn btn-primary" value="Update Faskes">
            
        </form>
    </div>
{% endblock %}
