{% extends "authentication/base-authentication.html" %}

{% block title %}Siruco Login{% endblock %}
{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://cdn.statically.io/img/wallpaperplay.com/walls/full/7/4/d/66773.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" action="../check-account/" method="post">
					{% csrf_token %}

					<span class="login100-form-title p-b-53">
						Login
					</span>
					
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Tidak boleh kosong">
						<input class="input100" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

					</div>
					<div class="wrap-input100 validate-input" data-validate = "Tidak boleh kosong">
						<input class="input100" type="password" name="password" >
						<span class="focus-input100"></span>
					</div>

					{% if messages %}
						{% for message in messages %}

							{% if 'error' in message.tags %}
								<div class="p-t-13 p-b-9">
									<span class="txt1" style="color:red;">
										{{message}}
									</span>
								</div>
							{% endif %}

						{% endfor %}
					 {% endif %}

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Masuk
						</button>
					</div>

					<div class="w-full text-center p-t-55 clean-margin-registration-link">
						<span class="txt2">
							Bukan member? Registrasi sekarang
						</span>
					</div>

					<ul class="w-full text-left clean-margin-registration-link">
						<li>
							<a href="../register/admin-sistem" class="txt2 bo1">
								Daftar Admin Sistem
							</a>
						</li>
						<li>
							<a href="../register/pengguna-publik" class="txt2 bo1">
								Daftar Pengguna Publik
							</a>
						</li>
						<li>
							<a href="../register/dokter" class="txt2 bo1">
								Daftar Dokter
							</a>
						</li>
						<li>
							<a href="../register/admin-satgas" class="txt2 bo1">
								Daftar Admin Satgas
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
{% endblock %}

