{% extends "root/base.html" %}
{% block content %}

    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      
    <div class="container">
        <div class="card">
            <h5 class="card-header">FORM BUAT HOTEL</h5>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="kodeHotel">Kode Hotel</label>
                        <input type="text" class="form-control" id="kodeHotel" name="kodehotel" value="{{next_id}}" readonly>
                    </div>
        
                    <div class="form-group">
                        <label for="namaHotel">Nama Hotel</label>
                        <input type="text" class="form-control" id="namaHotel" name="namahotel" placeholder="Masukan Nama Hotel">
                    </div>
                    
                    <div class="container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isRujukan" name="isRujukan" value="1">
                            <label class="form-check-label" for="isRujukan">Rujukan</label>
                        </div>
                    </div>
        
                    <label>Alamat:</label>
                    <div class="form-group">
                        <label for="jalan">Jalan:</label>
                        <input type="text" class="form-control" id="jalan" name="jalan" placeholder="Masukan Nama Jalan">
                    </div>
        
                    <div class="form-group">
                        <label for="kelurahan">Kelurahan:</label>
                        <input type="text" class="form-control" id="kelurahan" name="kelurahan" placeholder="Masukan Nama Kelurahan">
                    </div>
        
                    <div class="form-group">
                        <label for="kecamatan">Kecamatan:</label>
                        <input type="text" class="form-control" id="kecamatan" name="kecamatan" placeholder="Masukan Nama Kecamatan">
                    </div>
        
                    <div class="form-group">
                        <label for="kota">Kabupaten/Kota:</label>
                        <input type="text" class="form-control" id="kota" name="kota" placeholder="Masukan Nama Kabupaten/Kota">
                    </div>
        
                    <div class="form-group">
                        <label for="provinsi">Provinsi:</label>
                        <input type="text" class="form-control" id="provinsi" name="provinsi" placeholder="Masukan Nama Provinsi">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
          </div>
    </div>

{% endblock %}