{% extends "root/base.html" %}
{% block content %}
<div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
  
<div class="container">
    <div class="card">
        <h5 class="card-header">FORM BUAT TRANSAKSI MAKAN</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="idtransaksi">id Transaksi:</label>
                    <select class="form-control" id="idtransaksi" name="idtransaksi">
                      {% for idtrans in list_idtrans %}
                      <option value="{{idtrans}}">
                        {{idtrans}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
    
                <div class="form-group">
                    <label for="idtransaksimakan">Id Transaksi Makan</label>
                    <input type="text" class="form-control" id="idtransaksimakan" name="idtransaksimakan" value="{{next_id}}" readonly>
                </div>

                <div class="form-group">
                    <label for="kodehotel">Kode Hotel</label>
                    <input type="text" class="form-control" id="kodehotel" name="kodehotel">
                </div>
    
                <label>Pesanan:</label>
                <div class="form-group">
                    <label for="kodepaket">Kode Paket:</label>
                    <select class="form-control" id="kodepaket" name="kodepaket">
                      <!-- {% for kode_hotel in list_kode_hotel %}
                      <option value="{{kode_hotel}}">
                        {{kode_hotel}}
                      </option>
                      {% endfor %} -->
                    </select>
                </div>
                
                <button type="submit" class="btn btn-secondary">Tambah</button>

                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
        </div>
      </div>
</div>



{% endblock %}