{% extends "root/base.html" %}
{% block content %}

  <div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="container">
    <div class="card">
        <h5 class="card-header">FORM BUAT PAKET MAKAN</h5>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="kode_hotel">Kode Hotel:</label>
              <select class="form-control" id="kode_hotel" name="kode_hotel">
                {% for kode_hotel in list_kode_hotel %}
                <option value="{{kode_hotel}}">
                  {{kode_hotel}}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="kode_paket">Kode Paket :</label>
              <input type="text" class="form-control" id="kode_paket" name="kode_paket" placeholder="Masukan Kode Paket">
            </div>
            <div class="form-group">
              <label for="nama_paket">Nama Paket :</label>
              <input type="text" class="form-control" id="nama_paket" name="nama_paket" placeholder="Masukan Nama Paket">
            </div>
            <div class="form-group">
              <label for="harga">Harga:</label>
              <input type="text" class="form-control" id="harga" name="harga_paket" placeholder="Masukan Harga">
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </form>
          </form>
        </div>
      </div>
</div>

{% endblock %}