{% extends "root/base.html" %}
{% block title %}
DETAIL TRANSAKSI RS
{% endblock %}
{% block content %}
  
<div class="card">
    <div class="card-header">
      DATA TRANSAKSI MAKAN
    </div>
    <div class="card-body">
      <p class="card-text">
        {% if apt %}
          Id Transaksi: {{apt.0.idtransaksi}}
          <br>
          Id Transaksi Makan: {{apt.0.idtransaksimakan}}
          <br>
          Kode Hotel: {{apt.0.kodehotel}} 
          <br>
          <label>Daftar Pesanan</label>
          <br>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id Pesanan</th>
                <th scope="col">Paket Makan</th>
                <th scope="col">Harga</th>
              </tr>
            </thead>
            {% for item in apt %}
            <tbody>
                <tr>
              <td>{{ item.id_pesanan }}</td>
              <td>{{ item.kodepaket }}</td>
              <td>{{ item.harga }}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>

          <br>
          Total {{apt.0.totalbayar}}
          <br>
        {% endif %}
        </p>
      <a href="{% url 'hotel:show-trans-makan' %}" class="btn btn-primary">KEMBALI</a>
    </div>
  </div>

  {% endblock %}