{% extends "root/base.html" %}
{% block content %}

<div>
  {% if messages %}
  {% for message in messages %}
  {% if 'success' in message.tags %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Hotel</th>
        <th scope="col">Kode Paket</th>
        <th scope="col">Nama Paket</th>
        <th scope="col">Harga</th>
        {% if request.session.authority == "admin sistem" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    {% for item in list_makan %}
    <tbody>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ item.kodehotel }}</td>
      <td>{{ item.kodepaket }}</td>
      <td>{{ item.nama }}</td>
      <td>{{ item.harga }}</td>
      {% if request.session.authority == "admin sistem" %}
      <td>
        <a href="{% url 'hotel:ubah-makan' item.kodehotel item.kodepaket %}">
          <button class="btn btn-warning">UPDATE</button>
        </a>
       
        {% for i in list_delete %}
        {% if item.kodepaket == i.kodepaket and item.kodehotel == i.kodehotel %}
        <a href="{% url 'hotel:delete-makan' item.kodehotel item.kodepaket %}">
          <button class="btn btn-danger">DELETE</button>
        </a>
        {% endif %}
        {% endfor %}
      </td>
      {% endif %}

      </tr>
    </tbody>
    {% endfor %}
  </table>

  {% endblock %}