{% extends "root/base.html" %}
{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode</th>
        <th scope="col">Hotel</th>
        <th scope="col">Rujukan</th>
        <th scope="col">Alamat</th>
        {% if request.session.authority == "admin sistem" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    {% for item in list_hotel %}
    <tbody>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ item.kode }}</td>
      <td>{{ item.nama }}</td>
      <td>
        {% if item.isrujukan == "1" %}
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="isRujukan" checked="checked" disabled>
          <label class="form-check-label" for="isRujukan">
          </label>
          </div>
        {% endif %}
        {% if item.isrujukan == "0" %}
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="0" id="isRujukan" disabled>
          <label class="form-check-label" for="isRujukan">
          </label>
          </div>
        {% endif %}
      </td>
      <td>{{ item.jalan }}, {{ item.kelurahan }}, {{ item.kecamatan }}, {{ item.kabkot }}, {{ item.prov }}</td>
      <td>
        {% if request.session.authority == "admin sistem" %}
        <a href="{% url 'hotel:ubah-hotel' kode=item.kode %}">
          <button class="btn btn-warning">UPDATE</button>
        </a>
        {% endif %}
      </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>


  {% endblock %}