{% extends "root/base.html" %}
{% block content %}

<div>
    {% if messages %}
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <div class="alert alert-success">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Id Transaksi Hotel</th>
          <th scope="col">Id Transaksi</th>
          <th scope="col">Total Bayar</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {% for item in list_tmakan %}
      <tbody>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ item.idtransaksi }}</td>
        <td>{{ item.idtransaksimakan }}</td>
        <td>{{ item.totalbayar }}</td>

        <td>
        {% if request.session.authority != "admin sistem" %}
            <a href="{% url 'hotel:detail-trans-makan' idtr=item.idtransaksi idtm=item.idtransaksimakan %}"> 
                <button type="button" class="btn btn-primary">DETAIL</button>
            </a>
        {% endif %}
        {% if request.session.authority == "admin sistem" %}
          <a href="">
            <button class="btn btn-warning">UPDATE</button>
          </a>
          <a href="">
            <button class="btn btn-danger">DELETE</button>
          </a>
          <a href="{% url 'hotel:detail-trans-makan' idtr=item.idtransaksi idtm=item.idtransaksimakan %}">  
            <button type="button" class="btn btn-primary">DETAIL</button>
        </a>
      
        {% endif %}
        </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

{% endblock %}