{% extends "root/base.html" %}
{% block content %}

	<div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      
    <div class="container">
        <div class="card">
            <h5 class="card-header">FORM UBAH HOTEL</h5>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="kodeHotel">Kode Hotel</label>
                        <input type="text" class="form-control" id="kodeHotel" name="kodehotel" value="{{data.kode}}" readonly>
                    </div>
        
                    <div class="form-group">
                        <label for="namaHotel">Nama Hotel</label>
                        <input type="text" class="form-control" id="namaHotel" name="namahotel" value="{{data.nama}}">
                    </div>
                    
                    <div class="container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isRujukan" name="isRujukan" value="{{data.isrujukan}}">
                            <label class="form-check-label" for="isRujukan">Rujukan</label>
                        </div>
                    </div>
        
                    <label>Alamat:</label>
                    <div class="form-group">
                        <label for="jalan">Jalan:</label>
                        <input type="text" class="form-control" id="jalan" name="jalan" value="{{data.jalan}}">
                    </div>
        
                    <div class="form-group">
                        <label for="kelurahan">Kelurahan:</label>
                        <input type="text" class="form-control" id="kelurahan" name="kelurahan" value="{{data.kelurahan}}">
                    </div>
        
                    <div class="form-group">
                        <label for="kecamatan">Kecamatan:</label>
                        <input type="text" class="form-control" id="kecamatan" name="kecamatan" value="{{data.kecamatan}}">
                    </div>
        
                    <div class="form-group">
                        <label for="kota">Kabupaten/Kota:</label>
                        <input type="text" class="form-control" id="kota" name="kota" value="{{data.kabkot}}">
                    </div>
        
                    <div class="form-group">
                        <label for="provinsi">Provinsi:</label>
                        <input type="text" class="form-control" id="provinsi" name="provinsi" value="{{data.prov}}">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
          </div>
    </div>
	
{% endblock %}