{% extends "root/base.html" %}
{% block content %}

  <div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="container">
    <div class="card">
        <h5 class="card-header">FORM UBAH PAKET MAKAN</h5>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="kode_hotel">Kode Hotel:</label>
              <input type="text" class="form-control" id="kode_hotel" name="kode_hotel" value="{{data.kodehotel}}" readonly>
             
            </div>

            <div class="form-group">
              <label for="kode_paket">Kode Paket :</label>
              <input type="text" class="form-control" id="kode_paket" name="kode_paket" value="{{data.kodepaket}}" readonly>
            </div>

            <div class="form-group">
              <label for="nama_paket">Nama Paket :</label>
              <input type="text" class="form-control" id="nama_paket" name="nama_paket" value="{{data.nama}}">
            </div>
            
            <div class="form-group">
              <label for="harga">Harga:</label>
              <input type="text" class="form-control" id="harga" name="harga_paket" value="{{data.harga}}">
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </form>
          </form>
        </div>
      </div>
</div>

{% endblock %}