{% extends "root/base.html" %}
{% block title %}
DETAIL TRANSAKSI HOTEL
{% endblock %}
{% block content %}
  
    <div class="card">
        <div class="card-header">
          DATA TRANSAKSI HOTEL
        </div>
        <div class="card-body">
          <p class="card-text">
              NIK Pasien: {{apt.kodepasien}} 
              <br>
              Id Transaksi: {{apt.idtransaksi}}
              <br>
              Tanggal Pembayaran: {{apt.tanggalpembayaran}}
              <br>
              Waktu Pembayaran: {{apt.waktupembayaran}}
              <br>
              Total Biaya: {{apt.totalbayar}}
              <br>
              Status Bayar: {{apt.statusbayar}}
              <br>
              <br>
              Rincian Bayar:
              <br>
              Transaksi Booking: {{tb.totalbayar}}
              <br>
              {% for item in tm %}
              Transaksi Makan: {{item.harga}}
              <br>
              {% endfor %}
              <br>
              Data Reservasi:
              <br>
              Tanggal Masuk: {{rh.tglmasuk}}
              <br>
              Tanggal Keluar: {{rh.tglkeluar}}
              <br>
              Hotel: {{rh.nama}}
              <br>
              Ruangan: {{rh.koderoom}}
              <br>
            </p>
          <a href="{% url 'transaksi_hotel:display-transaksi-hotel' %}" class="btn btn-primary">KEMBALI</a>
        </div>
      </div>

      {% endblock %}