{% extends "root/base.html" %}
{% block title %}
BUAT HASIL TES PASIEN
{% endblock %}

{% block content %}

<div class="container-fluid">
  <br>
  <form method='POST'>
      {% csrf_token %}
      <label for="nik">NIK Pasien</label>
      <select name="nik" id="nik">
          {% for item in apt %} 
          <option> {{item.nik}}</option>
          {% endfor %}
      </select>
      <br>
      <label for="tanggaltes">Tanggal Tes:</label>
      <input type="date" name="tanggaltes">
      <br>
      <label for="jenistes">Jenis Tes:</label>
      <select class="jenistes" name="jenistes">
          <option value="PCR"> PCR </option>
          <option value="Antigen"> Antigen </option>
      </select>
      <br>
      <label for="jenistes">Status</label>
      <select class="status" name="status">
          <option value="Reaktif"> Reaktif</option>
          <option value="Non-Reaktif"> Non-Reaktif </option>
      </select>
      <br>
      <label for="ct"> Nilai CT: </label>
      <input type="text" id="nilaict" name="nilaict">
      <br>
      <br>
      <input type="submit" value="SIMPAN">
  </form>
  <br>
  <div>
    {% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $("select.jenistes").on("change",function(){
            $('#nilaict').prop("disabled", this.value=="Antigen");
          }).change();
  });

  $(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert").slideUp(500);
});
</script>
{% endblock %}

