{% extends "root/base.html" %}
{% block title %}
LIST HASIL TES PASIEN
{% endblock %}

{% block content %}
<div class="container-fluid">    
  <table class="table">
      <thead>
      <tr>
          <th>No.</th>
          <th>NIK Pasien</th>
          <th>Tanggal Tes</th>
          <th>Jenis Tes</th>
          <th>Status</th>
          <th>Nilai CT</th>
      </tr>
      </thead>
      {% for item in apt %}
      <tbody>
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.nik_pasien }}</td>
          <td>{{ item.tanggaltes }}</td>
          <td>{{ item.jenis }}</td>
          <td>{{ item.status }}</td>
          {% if item.nilaict == null%}
          <td>-</td>
          {% else %}
          <td>{{ item.nilaict }}</td>
          {% endif %}
      </tr>
      </tbody>
      
      {% endfor %}
  </table>
</div>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>TRANSAKSI RS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: rgb(6, 71, 0);
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>
  
<div class="container-fluid">    
    <table class="table">
        <thead>
        <tr>
            <th>No.</th>
            <th>NIK Pasien</th>
            <th>Tanggal Tes</th>
            <th>Jenis Tes</th>
            <th>Status</th>
            <th>Nilai CT</th>
        </tr>
        </thead>
        {% for item in apt %}
        <tbody>
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.nik_pasien }}</td>
            <td>{{ item.tanggaltes }}</td>
            <td>{{ item.jenis }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.nilaict }}</td>
        </tr>
        </tbody>
        
        {% endfor %}
    </table>
</div>

</body>
</html> -->