{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Siruco{% endblock %}</title>
    {% block bootstrap_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    {% endblock %}
    {% block styles %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid text-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active text-light" aria-current="page" href="/">Profil</a>
                </li>
                {% if request.session.authority == "admin sistem" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Hotel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'hotel:create-hotel' %}">Buat Hotel</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:show-hotel' %}">List Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/booking_ruangan_hotel/">Buat Ruangan Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_ruangan_hotel/">List Ruangan Hotel</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:create-makan' %}">Buat Paket Makan</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:show-makan' %}">List Paket Makan</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if request.session.authority == "dokter" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pasien
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/appointment/list/">List Appointment</a></li>
                        <li><a class="dropdown-item" href="{% url 'hasiltespasien:buat-hasil-tes' %}">Buat Hasil Tes Pasien</a></li>
                        <li><a class="dropdown-item" href="{% url 'hasiltespasien:list-hasil-tes' %}">List Hasil Tes Pasien</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Rumah Sakit
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/jadwal-dokter/buat-jadwal-dokter/">Buat Jadwal Dokter</a></li>
                        <li><a class="dropdown-item" href="/jadwal-dokter/list-jadwal-dokter/">List Jadwal Dokter</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if request.session.authority == "pengguna publik" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pasien
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/pengguna-publik/pendaftaran-pasien/">Pendaftaran Pasien</a></li>
                        <li><a class="dropdown-item" href="/pengguna-publik/list-pasien/">List Pasien</a></li>
                        <li><a class="dropdown-item" href="/appointment/buat/">Buat Appointment</a></li>
                        <li><a class="dropdown-item" href="/appointment/list/">List Appointment</a></li>
                        <li><a class="dropdown-item" href="{% url 'hasiltespasien:list-hasil-tes' %}">List Hasil Tes Pasien</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Rumah Sakit
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/jadwal-dokter/list-jadwal-dokter/">List Jadwal Dokter</a></li>
                        <li><a class="dropdown-item" href="/trigger3/daftar_reservasirumahsakit">List Reservasi RS</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Hotel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'hotel:show-hotel' %}">List Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_ruangan_hotel/">List Ruangan Hotel</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:show-makan' %}">List Paket Makanan</a></li>
                        <li><a class="dropdown-item" href="/hotel/reservasi_hotel">Buat Reservasi Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_reservasi_hotel">List Reservasi Hotel</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Transaksi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'transaksi_rs:display-transaksi-rs' %}">Bayar Transaksi RS</a></li>
                        <li><a class="dropdown-item" href="{% url 'transaksi_hotel:display-transaksi-hotel' %}">Bayar Transaksi Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_transaksi_booking/">List Transaksi Booking Hotel</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:create-trans-makan' %}">Buat Transaksi Makan dan Daftar Pesan</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:show-trans-makan' %}">List Transaksi Makan dan Daftar Pesan</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if request.session.authority == "admin satgas" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pasien
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/appointment/buat/">Buat Appointment</a></li>
                        <li><a class="dropdown-item" href="/appointment/list/">List Appointment</a></li>
                        <li><a class="dropdown-item" href="{% url 'hasiltespasien:list-hasil-tes' %}">List Hasil Tes Pasien</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Faskes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/trigger3/create_faskes">Buat Faskes</a></li>
                        <li><a class="dropdown-item" href="/trigger3/daftar_faskes">List Faskes</a></li>
                        <li><a class="dropdown-item" href="/trigger3/create_jadwalfaskes">Buat Jadwal Faskes</a></li>
                        <li><a class="dropdown-item" href="/trigger3/daftar_jadwalfaskes">List Jadwal Faskes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Rumah Sakit
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/trigger3/create_rumahsakit">Buat RS</a></li>
                        <li><a class="dropdown-item" href="/trigger3/daftar_rumahsakit">List RS</a></li>
                        <li><a class="dropdown-item" href="/jadwal-dokter/list-jadwal-dokter/">List Jadwal Dokter</a></li>
                        <li><a class="dropdown-item" href="/">Buat Ruangan RS</a></li>
                        <li><a class="dropdown-item" href="/ruangan-bed/list-ruangan/">List Ruangan RS</a></li>
                        <li><a class="dropdown-item" href="#">Buat Bed RS</a></li>
                        <li><a class="dropdown-item" href="/ruangan-bed/list-bed/">List Bed RS</a></li>
                        <li><a class="dropdown-item" href="/trigger3/create_reservasirumahsakit">Buat Reservasi RS</a></li>
                        <li><a class="dropdown-item" href="/trigger3/daftar_reservasirumahsakit">List Reservasi RS</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Hotel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'hotel:show-hotel' %}">List Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_ruangan_hotel/">List Ruangan Hotel</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:show-makan' %}">List Paket Makan</a></li>
                        <li><a class="dropdown-item" href="/hotel/reservasi_hotel">Buat Reservasi Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_reservasi_hotel">List Reservasi Hotel</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Transaksi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<<<<<<< HEAD
                        <li><a class="dropdown-item" href="#">List Transaksi RS</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_transaksi_hotel/">List Transaksi Hotel</a></li>
                        <li><a class="dropdown-item" href="/hotel/list_transaksi_booking/">List Transaksi Booking Hotel</a></li>
=======
                        <li><a class="dropdown-item" href="/trigger3/daftar_transaksirumahsakit">List Transaksi RS</a></li>
                        <li><a class="dropdown-item" href="#">List Transaksi Hotel</a></li>
                        <li><a class="dropdown-item" href="#">List Transaksi Booking Hotel</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:create-trans-makan' %}">Buat Transaksi Makan dan Daftar Pesan</a></li>
                        <li><a class="dropdown-item" href="{% url 'hotel:show-trans-makan' %}">List Transaksi Makan dan Daftar Pesan</a></li>
                    </ul>
                </li>
                {% endif %}
                <form class="form-inline my-2 my-lg-0" method="get" action="/auth/logout">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
                </form>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

{% block bootstrap_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>