{% extends "root/base.html" %}
{% block content %}

<table style="width:100%">
    <thead>
        <tr>
        <th>No</th>
        <th>Kode Hotel</th>
        <th>Kode Ruangan</th>
        <th>Jenis Bed</th>
        <th>Tipe</th>
        <th>Harga</th>
        {% if request.session.authority == "admin sistem" %}
        <th>Action</th>
        {% endif %}
        </tr>
    </thead>
        {% for i in list_ruangan_hotel %}
        <tbody>
        <th scope="row">{{forloop.counter}}</th>
        <td> {{i.kodehotel}} </td>
        <td> {{i.koderoom}} </td>
        <td> {{i.jenisbed}} </td>
        <td> {{i.tipe}} </td>
        <td> {{i.harga}} </td>
        {% if request.session.authority == "admin sistem" %}
        <td><button>UPDATE</button><br><button>DELETE</button></td>
        {% endif %}
        </tbody>
        {% endfor %}
  </table>

  {% endblock %}