<div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

{% extends "root/base.html" %}
{% block content %}
<div class="container-fluid text-center">    
    <table class="table">
        <thead>
            
        <tr>
            <th>Id Transaksi</th>
            <th>Kode Pasien</th>
            <th>Tanggal Pembayaran</th>
            <th>Waktu Pembayaran</th>
            <th>Total Bayar</th>
            <th>Status</th>
            <th> Action</th>

        </tr>
        </thead>
        {% for item in list_transaksi_hotel %}
        <tbody>
        <tr>
            <td>{{ item.idtransaksi }}</td>
            <td>{{ item.kodepasien }}</td>
            {% if item.tanggalpembayaran == null %}
            <td>-</td>
            {% else %}
            <td>{{ item.tanggalpembayaran }}</td>
            {% endif %}
            {% if item.waktupembayaran == null %}
            <td>-</td>
            {% else %}
            <td>{{ item.waktupembayaran }}</td>
            {% endif %}
            <td>{{ item.totalbayar }}</td>
            <td>{{ item.statusbayar}}</td>
            
            <td>
                <a href="{% url 'ruangan_hotel:show_ubah_transaksi_hotel' id=item.idtransaksi %}">
                    <button>UPDATE</button>
                </a>
            </td>

        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}