{% extends "root/base.html" %}
{% block content %}
<table style="width:100%">
    <thead>
        <tr>
        <th>No</th>
        <th>NIK Pasien</th>
        <th>Tanggal Masuk</th>
        <th>Tanggal Keluar</th>
        <th>Kode Hotel</th>
        <th>Ruangan</th>
        {% if request.session.authority == "admin satgas" %}
        <th>Action</th>
        {% endif %}
        </tr>
    </thead>
        {% for i in list_reservasi_hotel %}
        <tbody>
        <th scope="row">{{forloop.counter}}</th>
        <td> {{i.kodepasien}} </td>
        <td> {{i.tglmasuk}} </td>
        <td> {{i.tglkeluar}} </td>
        <td> {{i.kodehotel}} </td>
        <td> {{i.koderoom}} </td>
        {% if request.session.authority == "admin satgas" %}
        <td><button>UPDATE</button><br><button>DELETE</button></td>
        {% endif %}
        </tbody>
        {% endfor %}
  </table>


  {% endblock %}
