{% extends "root/base.html" %}
{% block content %}
<table style="width:100%">
    <thead>
        <tr>
        <th>No</th>
        <th>Id Transaksi</th>
        <th>Total Bayar</th>
        <th>Kode Pasien</th>
        <th>Tanggal Masuk</th>
        </tr>
    </thead>
        {% for i in list_transaksi_booking %}
        <tbody>
        <th scope="row">{{forloop.counter}}</th>
        <td> {{i.idtransaksibooking}} </td>
        <td> {{i.totalbayar}} </td>
        <td> {{i.kodepasien}} </td>
        <td> {{i.tglmasuk}} </td>
        </tbody>
        {% endfor %}
  </table>


  {% endblock %}