{% extends "root/base.html" %}
{% block content %}

<div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

<form method = 'POST'>
    {% csrf_token %}
    <label for="nik">NIK Pasien</label>
    <select name='nik' id='nik'>
        {% for item in nik %}
        <option> {{item.nik}} </option>
        {% endfor %}
    </select>
    <br>
    <label for="tanggalmasuk">Tanggal Masuk</label>
    <input type='date' id='tanggalmasuk' name='tanggalmasuk'>
    <br>
    <label for="tanggalkeluar">Tanggal Keluar</label>
    <input type='date' id='tanggalkeluar' name='tanggalkeluar'>
    <br>
    <label for="kodehotel">Kode Hotel</label>
    <select name='kodehotel' id='kodehotel'>
        {% for item in kh %}
        <option> {{item.kode}} </option>
        {% endfor %}
    </select>
    <br>
    <label for="koderoom">Kode Ruangan</label>
    <select name='koderoom' id='koderoom'>
        {% for item in kr %}
        <option> {{item.koderoom}} </option>
        {% endfor %}
    </select>
    <br>
    <input type='submit' value='SIMPAN'>
</form>

{% endblock %}