{% extends "root/base.html" %}
{% block title %}
UBAH TRANSAKSI HOTEL
{% endblock %}
{% block content %}
<p>NIK Pasien= {{ transaksi_hotel.kodepasien }}</p> 
<p>ID Transaksi = {{ transaksi_hotel.idtransaksi }}</p>
<p>Tanggal Pembayaran = {{ transaksi_hotel.tanggalpembayaran }}</p>
<p>Waktu Pembayaran = {{ transaksi_hotel.waktupembayaran}}</p>
<p>Total Biaya = {{ transaksi_hotel.totalbayar }}</p>
<form method = 'POST'>
    {% csrf_token %}
    <p>Status Bayar = </p> <input type='text' id='statusbayar' name='statusbayar'>
    <br>
    <input type='submit' value='SIMPAN' >
</form>
{% endblock %}