{% extends "root/base.html" %}
{% block content %}
<form method = 'POST'>
    {% csrf_token %}
    <label for="kodehotel">Kode Hotel</label>
    <select name='kodehotel' id='kodehotel'>
        {% for item in apt %}
        <option> {{item.kode}} </option>
        {% endfor %}
    </select>
    <br>
    <label for="jenisbed">Jenis Bed</label>
    <input type='text' id='jenisbed' name='jenisbed'>
    <br>
    <label for="jenis_bed">Tipe</label>
    <input type='text' id='tipe' name='tipe'>
    <br>
    <label for="jenis_bed">Harga per hari</label>
    <input type='text' id='harga' name='harga'>
    <br>
    <input type='submit' value='SIMPAN'>
</form>



{% endif %}
{% endblock %}

