{% extends "root/base.html" %}
{% block title %}
DETAIL TRANSAKSI RS
{% endblock %}
{% block content %}
  
<div class="card">
    <div class="card-header">
      DATA TRANSAKSI RUMAH SAKIT
    </div>
    <div class="card-body">
      <p class="card-text">
          NIK Pasien: {{apt.kodepasien}} 
          <br>
          Id Transaksi: {{apt.idtransaksi}}
          <br>
          Tanggal Pembayaran: {{apt.tanggalpembayaran}}
          <br>
          Waktu Pembayaran: {{apt.waktupembayaran}}
          <br>
          Total Biaya: {{apt.totalbiaya}}
          <br>
          Status Bayar: {{apt.statusbayar}}
          <br>
          <br>
          Data Reservasi:
          <br>
          Tanggal Masuk: {{apt.tglmasuk}}
          <br>
          Tanggal Keluar: {{apt.tglkeluar}}
          <br>
          Nama - ID Rumah Sakit: {{apt.nama}} - {{apt.koders}}
          <br>
          Ruangan: {{apt.koderuangan}}
          <br>
          Bed: {{apt.kodebed}}
          <br>
        </p>
      <a href="{% url 'transaksi_rs:display-transaksi-rs' %}" class="btn btn-primary">KEMBALI</a>
    </div>
  </div>

  {% endblock %}