{% extends "root/base.html" %}

{% block title %}
TRANSAKSI RS
{% endblock %}
{% block content %}
  
<div class="container-fluid text-center">    
    <table class="table">
        <thead>
            
        <tr>
            <th>Id Transaksi</th>
            <th>Kode Pasien</th>
            <th>Tanggal Pembayaran</th>
            <th>Tanggal Masuk </th>
            <th>Total Biaya</th>
            <th>Status</th>
            <th> Action</th>
            <!-- {% if request.session.is_staf %}
            <th>Action</th>
            {% endif %} -->
        </tr>
        </thead>
        {% for item in apt %}
        <tbody>
        <tr>
            <td>{{ item.idtransaksi }}</td>
            <td>{{ item.kodepasien }}</td>
            {% if item.tanggalpembayaran == null %}
            <td>-</td>
            {% else %}
            <td>{{ item.tanggalpembayaran }}</td>
            {% endif %}
            <td>{{ item.tglmasuk }}</td>
            <td>{{ item.totalbiaya}}</td>
            <td>{{ item.statusbayar}}</td>
            <td>
                <a href="{% url 'transaksi_rs:detail-transaksi-rs' id=item.idtransaksi %}">
                    <button>DETAIL</button>
                </a>
                <br>
                {% if item.statusbayar == "Belum Lunas" and request.session.authority == "pengguna publik" %}
                <a href="{% url 'transaksi_rs:update-transaksi-rs' id=item.idtransaksi %}">
                    <button>KONFIRMASI PEMBAYARAN</button>
                </a>
                {% endif %}
            </td>

        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}