{% extends 'root/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Kode Bed</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for datum in data %}
    <tr>
        {% for attribute in datum %}
        <td>{{attribute}}</td>
        {% endfor %}
        <td>
            <form action="/appointment/list/"
                  method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" name="delete" value="true" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}