{% extends 'root/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Tipe</th>
        <th scope="col">Jumlah Bed</th>
        <th scope="col">Harga Ruangan</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for datum in data %}
    <tr>
        {% for attribute in datum %}
        <td>{{attribute}}</td>
        {% endfor %}
        <td>
            <form action="/ruangan-bed/list-ruangan/update/"
                  method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" name="delete" value="true" class="btn btn-success">Update</button>
                <input type="hidden" name="kode_rs" value="{{datum.1}}">
                <input type="hidden" name="kode_ruangan" value="{{datum.2}}">
                <input type="hidden" name="simpan" value="False">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}