{% extends 'root/base.html' %}

{% block content %}
<form action="/ruangan-bed/list-ruangan/update/"
      method="post" style="width: 40%; margin-left: 20px">
    {% csrf_token %}

    <input type="hidden" value="{{kode_rs}}" name="kode_rs" id="disabledTextInput" class="form-control">
    <input type="hidden" name="kode_ruangan" value="{{kode_ruangan}}">
    <input type="hidden" name="simpan" value="True">
    <fieldset disabled>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Kode Rumah Sakit</label>
            <input value="{{kode_rs}}" type="text" name="nik" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Kode Ruangan</label>
            <input value="{{kode_ruangan}}" name="pendaftar" id="disabledTextInput" class="form-control">

        </div>
    </fieldset>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tipe</label>
        <input type="text" name="tipe" class="form-control" value="{{tipe}}" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Harga Ruangan</label>
        <input type="text" name="harga-ruangan" value="{{harga_ruangan}}" class="form-control" id="exampleFormControlInput1">
    </div>
    {% if messages %}
    {% for message in messages %}

    {% if 'error' in message.tags %}
    <p class="text-start text-danger">{{message}}</p>
    {% endif %}

    {% endfor %}
    {% endif %}

    <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">
            Simpan
        </button>
    </div>
</form>
{% endblock %}