{% extends 'root/base.html' %}

{% block content %}
<form action="/appointment/book/"
      method="post" style="width: 40%; margin-left: 20px">
    {% csrf_token %}


    <div class="p-t-13 p-b-9">
        <span class="txt1">
            NIK Pasien
        </span>
    </div>

    <select class="form-control browser-default custom-select"
            style="border-radius:10px;font-family:sans-serif;" name="nik">
        {% for nik in list_nik %}
        <option value="{{nik}}">
            {{nik}}
        </option>
        {% endfor %}
    </select>

    <input type="hidden" value="{{email_dokter}}" name="email-dokter" id="disabledTextInput" class="form-control">
    <input type="hidden" name="kode_faskes" value="{{kode_faskes}}">
    <input type="hidden" name="tanggal" value="{{tanggal}}">
    <input type="hidden" name="shift" value="{{shift}}">
    <input type="hidden" name="nostr" value="{{nostr}}">
    <input type="hidden" name="simpan" value="True">
    <fieldset disabled>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email Dokter</label>
            <input value="{{email_dokter}}" type="text" name="nik" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Kode Faskes</label>
            <input value="{{kode_faskes}}" name="pendaftar" id="disabledTextInput" class="form-control">

        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tanggal Praktek</label>
            <input value="{{tanggal}}" type="text" name="nama" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Shift Praktek</label>
            <input value="{{shift}}" type="text" name="no-tlp" class="form-control" id="exampleFormControlInput1">
        </div>
    </fieldset>
    {% if messages %}
    {% for message in messages %}

    {% if 'error' in message.tags %}
    <p class="text-start text-danger">{{message}}</p>
    {% endif %}

    {% endfor %}
    {% endif %}

    <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">
            Simpan
        </button>
    </div>
</form>
{% endblock %}

