{% extends 'root/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">No STR</th>
        <th scope="col">Email Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Buat Appointment</th>
    </tr>
    </thead>
    <tbody>
    {% for jadwal in list_jadwal %}
    <tr>
        {% for attribute in jadwal %}
        <td>{{attribute}}</td>
        {% endfor %}
        <td>
            <form action="/appointment/book/" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Book</button>
                <input type="hidden" name="username" value="{{request.session.username}}">
                <input type="hidden" name="nostr" value="{{jadwal.1}}">
                <input type="hidden" name="email-dokter" value="{{jadwal.2}}">
                <input type="hidden" name="kode_faskes" value="{{jadwal.3}}">
                <input type="hidden" name="shift" value="{{jadwal.4}}">
                <input type="hidden" name="tanggal" value="{{jadwal.5}}">
                <input type="hidden" name="simpan" value="False">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}