{% extends 'root/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Email Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Rekomendasi</th>
        {% if request.session.authority == 'admin satgas' or request.session.authority == 'dokter' %}
        <th scope="col">Action</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for datum in data %}
    <tr>
        {% for attribute in datum %}
        <td>{{attribute}}</td>
        {% endfor %}
        <td>
            {% if request.session.authority == 'admin satgas' %}
            <form action="/appointment/list/"
                  method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" name="delete" value="true" class="btn btn-danger">Delete</button>
                <input type="hidden" name="nik" value="{{datum.1}}">
                <input type="hidden" name="username_dokter" value="{{datum.2}}">
                <input type="hidden" name="kode_faskes" value="{{datum.3}}">
                <input type="hidden" name="shift" value="{{datum.4}}">
                <input type="hidden" name="tanggal" value="{{datum.5}}">
            </form>
            {% endif %}
            {% if request.session.authority == 'dokter' %}
            <form action="/appointment/update/" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Update</button>
                <input type="hidden" name="nik" value="{{datum.1}}">
                <input type="hidden" name="username_dokter" value="{{datum.2}}">
                <input type="hidden" name="kode_faskes" value="{{datum.3}}">
                <input type="hidden" name="shift" value="{{datum.4}}">
                <input type="hidden" name="tanggal" value="{{datum.5}}">
                <input type="hidden" name="rekomendasi" value="{{datum.6}}">
                <input type="hidden" name="simpan" value="False">
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}