{% extends "root/base.html" %}

{% block content %}
<form action="update-personal-data" method="post" style="width: 40%; margin-left: 20px">
    {% csrf_token %}
    {% for data_name, data in user_data.items %}
    {% if data_name == "username" or data_name == "authority" %}
    <div class="mb-3">
        <fieldset disabled>
            <label for="disabledTextInput" class="form-label">{{data_name}}</label>
            <input value="{{data}}" name="{{data_name}}" id="disabledTextInput" class="form-control">
        </fieldset>
    </div>
    {% endif %}
    {% if data_name != "username" and data_name != "authority" %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{data_name}}</label>
        <input value="{{data}}" type="text" name={{data_name}} class="form-control" id="exampleFormControlInput1">
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">Update My Data</button>
    </div>
</form>
{% endblock %}