{% extends "root/base.html" %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">NIK</th>
        <th scope="col">Nama Pasien</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for data_pasien in list_pasien %}
    <tr>
        {% for attribute in data_pasien %}
        <td>{{attribute}}</td>
        {% endfor %}
        <td>
            <form action="/pengguna-publik/list-pasien/update-pasien" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button value="{{data_pasien.1}}" name='update-pasien-nik' type="submit" class="btn btn-success">Update</button>
            </form>
            <form method="post" action="delete-pasien" style="display: inline-block;">
                {% csrf_token %}
                <button value="{{data_pasien.1}}" name='delete-pasien-nik' type="submit" class="btn btn-danger">Delete</button>
            </form>
            <form action="detail-pasien" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button value="{{data_pasien.1}}" name='detail-pasien-nik' type="submit" class="btn btn-info">Detail</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}