{% extends "root/base.html" %}

{% block content %}
<form action="daftar" method="post" style="width: 40%; margin-left: 20px">
    {% csrf_token %}
    <div class="mb-3">
        <fieldset disabled>
            <label for="disabledTextInput" class="form-label">Pendaftar</label>
            <input value="{{pendaftar}}" name="pendaftar" id="disabledTextInput" class="form-control">
        </fieldset>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">NIK</label>
        <input type="text" name="nik" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nama</label>
        <input type="text" name="nama" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nomor Telepon</label>
        <input type="text" name="no-tlp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nomor HP</label>
        <input type="text" name="no-hp" class="form-control" id="exampleFormControlInput1">
    </div>
    <p class="text-start text-primary">Alamat (Sesuai KTP):</p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Jalan</label>
        <input type="text" name="jalan-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kelurahan</label>
        <input type="text" name="kelurahan-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kecamatan</label>
        <input type="text" name="kecamatan-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kabupaten/Kota</label>
        <input type="text" name="kabkot-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Provinsi</label>
        <input type="text" name="provinsi-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <p class="text-start text-primary">Alamat (Domisili):</p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Jalan</label>
        <input type="text" name="jalan-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kelurahan</label>
        <input type="text" name="kelurahan-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kecamatan</label>
        <input type="text" name="kecamatan-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kabupaten/Kota</label>
        <input type="text" name="kabkot-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Provinsi</label>
        <input type="text" name="provinsi-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    {% if messages %}
    {% for message in messages %}

    {% if 'error' in message.tags %}
    <p class="text-start text-danger">{{message}}</p>
    {% endif %}

    {% endfor %}
    {% endif %}
    <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">Simpan</button>
    </div>
</form>
{% endblock %}