{% extends 'root/base.html' %}

{% block content %}
<form action="/pengguna-publik/list-pasien/update-pasien/update"
      method="post" style="width: 40%; margin-left: 20px">
    {% csrf_token %}

    <input type="hidden" value="{{data.0}}" name="NIK" id="disabledTextInput" class="form-control">
    <input type="hidden" value="{{data.0}}" name="update-pasien-nik" id="disabledTextInput" class="form-control">
    <fieldset disabled>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Pendaftar</label>
            <input value="{{data.1}}" type="text" name="nik" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">NIK</label>
            <input value="{{data.0}}" name="pendaftar" id="disabledTextInput" class="form-control">

        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nama</label>
            <input value="{{data.2}}" type="text" name="nama" class="form-control" id="exampleFormControlInput1">
        </div>
    </fieldset>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nomor Telepon</label>
        <input value="{{data.13}}" type="text" name="no-tlp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nomor HP</label>
        <input value="{{data.14}}" type="text" name="no-hp" class="form-control" id="exampleFormControlInput1">
    </div>
    <p class="text-start text-primary">Alamat (Sesuai KTP):</p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Jalan</label>
        <input value="{{data.3}}" type="text" name="jalan-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kelurahan</label>
        <input value="{{data.4}}" type="text" name="kelurahan-ktp" class="form-control"
               id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kecamatan</label>
        <input value="{{data.5}}" type="text" name="kecamatan-ktp" class="form-control"
               id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kabupaten/Kota</label>
        <input value="{{data.6}}" type="text" name="kabkot-ktp" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Provinsi</label>
        <input value="{{data.7}}" type="text" name="provinsi-ktp" class="form-control"
               id="exampleFormControlInput1">
    </div>
    <p class="text-start text-primary">Alamat (Domisili):</p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Jalan</label>
        <input value="{{data.8}}" type="text" name="jalan-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kelurahan</label>
        <input value="{{data.9}}" type="text" name="kelurahan-dom" class="form-control"
               id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kecamatan</label>
        <input value="{{data.10}}" type="text" name="kecamatan-dom" class="form-control"
               id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kabupaten/Kota</label>
        <input value="{{data.11}}" type="text" name="kabkot-dom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Provinsi</label>
        <input value="{{data.12}}" type="text" name="provinsi-dom" class="form-control"
               id="exampleFormControlInput1">
    </div>

    {% if messages %}
    {% for message in messages %}

    {% if 'error' in message.tags %}
    <p class="text-start text-danger">{{message}}</p>
    {% endif %}

    {% endfor %}
    {% endif %}
    <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">
            Simpan
        </button>
    </div>
</form>
{% endblock %}