{% extends 'root/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Buat Jadwal Dokter</th>
    </tr>
    </thead>
    <tbody>
    {% for jadwal in list_jadwal %}
    <tr>
        {% for attribute in jadwal %}
        <td>{{attribute}}</td>
        {% endfor %}
        <td>
            <form action="/jadwal-dokter/buat-jadwal-dokter/buat/" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Buat</button>
                <input type="hidden" name="nostr" value="{{request.session.no_str}}">
                <input type="hidden" name="username" value="{{request.session.username}}">
                <input type="hidden" name="kode_faskes" value="{{jadwal.1}}">
                <input type="hidden" name="shift" value="{{jadwal.2}}">
                <input type="hidden" name="tanggal" value="{{jadwal.3}}">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}