{% extends 'root/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">No STR</th>
        <th scope="col">Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jumlah Pasien</th>
    </tr>
    </thead>
    <tbody>
    {% for jadwal_dokter in list_jadwal_dokter %}
    <tr>
        {% for attribute in jadwal_dokter %}
        <td>{{attribute}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}